* {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navi */
.text-navi {
    color: #1e88e5;
}

.bg-navi {
    background-color: #1e88e5;
}

main {
    padding-top: 56px;
}

/* hero */
#hero {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 800px;
}

.bg-hero {
    position: absolute;
    width: 100%;
    height: 650px;
    background-image: url("../img/bg-hero.png");
    background-size: cover;
    background-position: center;
    filter: brightness(0.5);
    z-index: 1;    
}

.main-hero {
    font-size: 4rem;
}

.sub-hero {
    font-size: 2rem;
}

/* stats */
.stats-box {
    position: absolute;
    width: 1200px;
    height: 200px;
    background-color: #fff;
    border: 0.5px solid #000;
    border-radius: 50px;
    padding: 5px;
    bottom: 50px;
    z-index: 2;
}

.stats-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    margin: 0px auto;
}

/* about */
#about {
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 100vw;
    height: 500px;
    scroll-margin-top: 55px;
}

/* key */
#key {
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 100vw;
    height: 500px;
    scroll-margin-top: 55px;
}

.key-img {
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    background-color: rgb(21, 53, 133);
}

.key-img img {
    width: 100px; 
    height: 100px;
    object-fit: cover;
    object-position: center;
    background-color: rgb(21, 53, 133);
}

/* flow */
#flow {
    width: 100vw;
    height: auto;
    padding: 15px 0;
    scroll-margin-top: 55px;
    /* background-color: rgb(173, 5, 148); */
}

.flow-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flow-card {
    width: 55rem; 
    height: 10rem;
    margin-top: 25px;
    transition: transform 0.5s ease;
}
.flow-card:hover {
    transform: translateY(-5px);
}

/* report */
#report {
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 100vw;
    height: 800px;
    scroll-margin-top: 60px;
}

#report form {
    width: 800px;
    height: 500px;
    margin: 0 auto;
}

#report form input {
    height: 35px;
    padding: 10px;
    margin-bottom: 10px;    
    outline: none;
}

#report form textarea {
    height: 200px;
    padding: 10px;
    margin-top: 15px;
    outline: none;
}

#report form button {
    padding: 10px 0;
    margin-top: 20px;
}

/* contact */
#contact {
    width: 100vw;
    height: auto;
}